{% load static %}

    <div id="root"></div>
    <script type="text/babel">

        var Button = Reactstrap.Button;

        const styles = {
            empty: { width: "10pt", height: "10pt", border: "1pt solid grey", margin: "0", padding: "0", borderCollapse: "collapse" },
            filled: { width: "10pt", height: "10pt", border: "1pt solid grey", margin: "0", padding: "0", borderCollapse: "collapse", backgroundColor: "blue" }
        };
 
        class Game extends React.Component {
            constructor(props) {
                super(props);
                var n = 50;
                var fields = this.buildCleanFields(n);
                this.state = { N: n, Fields: fields, InitialFields: fields, Epoch: 0, Updater: -1, SavedLink: "" };
                if (props.link != "")
                    this.loadGame(props.link);
            }

            buildCleanFields(n) {
                var fields = [];
                for (var i = 0; i < n; ++i) {
                    var row = [];
                    for (var j = 0; j < n; ++j) {
                        row.push(0);
                    }
                    fields.push(row);
                }
                return fields;
            }

            countNeighbours(fields, x, y) {
                var count = 0;
                for (var i = -1; i <= 1; ++i) {
                    for (var j = -1; j <= 1; ++j) {
                        if (i == 0 && j == 0)
                            continue;
                        if (x + i < 0 || x + i >= this.state.N || y + j < 0 || y + j >= this.state.N)
                            continue;
                        count += fields[x + i][y + j];
                    }
                }
                return count;
            }

            doIteration() {
                var fields = [];
                var n = this.state.N;
                for (var i = 0; i < n; ++i) {
                    var row = [];
                    for (var j = 0; j < n; ++j) {
                        var count = this.countNeighbours(this.state.Fields, i, j);
                        if (count == 2)
                            row.push(this.state.Fields[i][j]);
                        else if (count == 3)
                            row.push(1);
                        else
                            row.push(0);
                    }
                    fields.push(row);
                }
                this.setState({ N: n, Fields: fields, InitialFields: this.state.InitialFields, Epoch: this.state.Epoch + 1, Updater: this.state.Updater, SavedLink: this.state.SavedLink });
            }

            makeOnClick(i, j) {
                var self = this;
                return () => {
                    var fields = self.state.Fields;
                    fields[i][j] = 1 - fields[i][j];
                    self.setState({ N: self.state.N, Fields: fields, Updater: self.state.Updater, SavedLink: this.state.SavedLink });
                };
            }

            startGame() {
                if (this.state.Updater != -1)
                    return;
                var state = this.state;
                var self = this;
                state.InitialFields = state.Fields;
                state.Epoch = 0;
                state.Updater = setInterval(() => self.doIteration(), 100);
                this.setState(state);
            }

            restoreGame() {
                if (this.state.Updater != -1)
                    clearInterval(this.state.Updater);
                var state = this.state;
                state.Updater = -1;
                state.Fields = state.InitialFields;
                this.setState(state);
            }

            stopGame() {
                if (this.state.Updater == -1)
                    return;
                clearInterval(this.state.Updater);
                var state = this.state;
                state.Updater = -1;
                this.setState(state);
            }

            saveGame() {
                var self = this;
                var fields = window.btoa(JSON.stringify(this.state.Fields));
                httpGetAsync("/life_save?fields=" + fields, (response) => {
                    var state = self.state;
                    state.SavedLink = response;
                    self.setState(state);
                });
            }

            loadGame(link) {
                var self = this;
                httpGetAsync("/life_load?link=" + link, (response) => {
                    if (response == "")
                        return;
                    var fields = JSON.parse(window.atob(response));
                    var state = self.state;
                    state.Fields = fields;
                    self.setState(state);
                });
            }

            clearGame() {
                if (this.state.Updater != -1)
                    clearInterval(this.state.Updater);
                var n = 50;
                var fields = this.buildCleanFields(n);
                this.setState({ N: n, Fields: fields, InitialFields: fields, Epoch: 0, Updater: -1, SavedLink: "" });
            }

            render() {
                var self = this;
                var rows = this.state.Fields.map(function(row, i) {
                    var cells = row.map(function(cell, j) {
                        var style = (cell == 0 ? styles.empty : styles.filled);
                        var clickHandler = self.makeOnClick(i, j);
                        return ( <td style={style} onClick={clickHandler}></td> );
                    });
                    return ( <tr>{cells}</tr> );
                });

                var link = ( <div /> );
                if (this.state.SavedLink != "") {
                    var fullPath = "https://vnik.me/life?load=" + this.state.SavedLink;
                    link = ( <div><a href={fullPath}>{fullPath}</a><br /></div> );
                }

                return ( <div>
                            <table>
                                <tr>
                                    <td><table>{rows}</table></td>
                                    <td>Epoch: {self.state.Epoch}</td>
                                </tr>
                            </table>
                            <br />
                            <Button color="primary" onClick={() => self.startGame()}>Start</Button>
                            &nbsp;
                            <Button color="primary" onClick={() => self.stopGame()}>Stop</Button>
                            &nbsp;
                            <Button color="primary" onClick={() => self.restoreGame()}>Restore</Button>
                            &nbsp;
                            <Button color="primary" onClick={() => self.saveGame()}>Save</Button>
                            &nbsp;
                            <Button color="primary" onClick={() => self.clearGame()}>Clear</Button>
                            <br />
                            {link}
                            <br />
                        </div>
                    );
            }
        }


        // ========================================

        ReactDOM.render(<Game link="{{link}}"/>, document.getElementById("root"));

    </script>

