<script>
    function httpGetAsync(theUrl, callback) {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function() {
            if (req.readyState == 4 /*&& req.status == 200*/)
                callback(req.responseText);
            }
        req.open("GET", theUrl, true); // true for asynchronous
        req.send(null);
    }

    function bumpCounter() {
        httpGetAsync("/counter", (response) => {
            //console.log(response);
        });
    }

    function copy(x) {
        return JSON.parse( JSON.stringify(x) );
    }

</script>

